.footer {
  margin: 75px auto 63px;
  color: #323232;
  &-top {
    margin-bottom: 109px;
  }
  &__section {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin-right: 5%;
  }
  &__title {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.5px;
    text-align: left;
    color: #3974ca;
    text-transform: uppercase;
  }
  &__text {
    font-size: 18px;
    line-height: 1.46;
    letter-spacing: -0.6px;
  }

  &__link {
    color: #3974ca;
  }

  &__icons {
    display: flex;
  }
  &__icon {
    display: block;
    height: 18px;
    margin-right: 16px;
    img {
      width: auto;
      height: 18px;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
  }
  &__fb-likes {
    height: 20px;
    img {
      height: 20px;
    }
  }
  &__copyright {
    margin-left: 16px;
  }
}

@include desktop {
  .footer {
    margin: 40px auto 40px;
    &-top {
      margin-bottom: 40px;
    }
    &__section {
      width: 35%;
      margin-right: 20px;
    }
    &__section--social {
      width: 20%;
      margin-right: 0;
    }
    &__title {
      margin-bottom: 8px;
    }
    &__text {
      font-size: 16px;
    }
  }
}

@include tablet {
  .footer {
    margin: 32px auto 32px;
    &-top {
      margin-bottom: 32px;
    }
    &__section {
      display: block;
      width: 100%;
    }
    &__title {
      margin: 16px auto 8px;
    }
    &__text {
      font-size: 16px;
      line-height: 1.4;
    }

    &__copyright {
      font-size: 14px;
    }
  }
}

@include mobile {
  .footer {
    text-align: center;
    &__title {
      text-align: center;
    }
    &__icons {
      justify-content: center;
    }
    &__copyright {
      font-size: 12px;
    }
  }
}
