header {
  background: $hero-bg-color;
  background-blend-mode: color;
  padding-bottom: 62px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.logo {
  display: block;
  margin-right: 140px;
  font-size: 36px;
  line-height: 1;
}

.main-nav {
  display: flex;
  &__item {
    margin: 0 25px;
    font-size: 14px;
    letter-spacing: -0.5px;
    text-align: left;
    color: $light-text;
    transition: 0.5s;
    &:hover {
      color: #fff;
    }
  }
}

.hero {
  height: 600px;
  background-position: right center;
  background-size: 50%;
  background-repeat: no-repeat;
  &__text {
    display: inline-block;
    width: 50%;
    margin-top: 85px;
    vertical-align: top;
    padding-right: 80px;
  }
  &__title {
    margin-bottom: 40px;
    font-size: 36px;
    letter-spacing: -1.4px;
    font-weight: normal;
    color: #ffffff;
  }
  &__descr {
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 1.66;
    letter-spacing: -0.6px;
    color: $light-text;
  }
  &__image {
    display: inline-block;
    width: 40%;
    img {
      max-width: 400px;
      width: 100%;
    }
  }
}

.buttons-wrapper {
  width: 300px;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 100px;
  &__text {
    margin-right: 35px;
    font-size: 14px;
    letter-spacing: -0.6px;
    text-align: left;
    color: #a3d0fc;
  }
  &__image {
    margin-right: 15px;
  }
}

@include mobile {
  .nav {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 57px;
    z-index: 100;
    background: $hero-bg-color;
  }

  .main-nav-toggler {
    display: block;
    height: 37px;
    width: 32px;
    margin-left: auto;
    cursor: pointer;
  }

  .main-nav {
    display: none;
    &.active {
      position: fixed;
      top: 57px;
      left: 0;
      bottom: 0;
      right: 0;
      height: calc(100vh - 57px);
      width: 100vw;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      border-top: 1px solid #000;
      z-index: 100;
      background-color: darken($hero-bg-color, 10%);
      .main-nav__item {
        font-size: 24px;
        text-align: center;
        color: $light-text;

        transition: 0.5s;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  .hero {
    height: auto;
    margin-top: 57px;
    background-position: center top;
    background-size: 75%;
    &__text {
      display: block;
      width: 100%;
      margin-top: 0;
      padding: 230px 0 0;
      text-align: center;
    }
    &__title {
      margin-bottom: 20px;
    }
  }

  .buttons-wrapper {
    width: 100%;
  }
  .brands {
    margin: 0 15px;
    &__text {
      width: 100%;
      text-align: center;
      margin-bottom: 16px;
    }
  }
}
