<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Shakers
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
		
		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="css/magnific-popup.css")
		link(rel="stylesheet", href="css/owl.theme.default.min.css")
		link(rel="stylesheet", href="css/style.min.css")
	body
		header
			.container
				nav.nav
					a.logo(href="index.html") Logo
					ul.main-nav
						li.main-nav__item: a.main-nav__link(href="#shakers") Shakers
						li.main-nav__item: a.main-nav__link(href="#accessories") Accessories
						li.main-nav__item: a.main-nav__link(href="#faq") FAQ
						li.main-nav__item: a.main-nav__link(href="#about") About
						li.main-nav__item: a.main-nav__link(href="#contacts") Contact
					.main-nav-toggler
						img(src="img/sprites/toggler.svg" alt="toggler")
				
				.hero(style="background-image: url(img/illustration1.png)")
					.hero__text
						h1.hero__title Custom & Private 
							br 
							|	Label Shaker Bottles
						p.hero__descr The World's Largest Selection of Private label Shaker Bottles, Pill organizers, and other Promotional Fitness Items. Customize with your company logo and colors.
						.buttons-wrapper
							a.btn(href="#") view all shakers
							a.video-player-btn(href="#") 
								span Watch how it works 
								img(src="img/sprites/player.png", alt="video-player")
			section.brands
				p.brands__text Over 3,000,000 shakers shipped to date.
				.brands__image
					img(src="img/brand1.png", alt="TopWell" style="height: 27px")
				.brands__image
					img(src="img/brand2.png", alt="On" style="height: 23px")
				.brands__image
					img(src="img/brand3.png", alt="Bulk Nutrients" style="height: 38px")
				.brands__image
					img(src="img/brand4.png", alt="STS" style="height: 22px")
				.brands__image
					img(src="img/brand5.png", alt="FoodFirst" style="height: 25px")
				.brands__image
					img(src="img/brand6.png", alt="MaxBodyFood" style="height: 19px")

		section.slider-section(id='shakers')
			.container-narrow
				.owl-carousel.owl-theme
					a.item.gallery(href="img/shaker1.jpg")
						h3.slide__title zen
						.img(style="background-image: url(img/shaker1.jpg)")
					a.item.gallery(href="img/shaker1.jpg")
						h3.slide__title hercules
						.img(style="background-image: url(img/shaker1.jpg)")
					a.item.gallery(href="img/shaker2.jpg")
						h3.slide__title zen
						.img(style="background-image: url(img/shaker2.jpg)")
					a.item.gallery(href="img/shaker2.jpg")
						h3.slide__title hercules
						.img(style="background-image: url(img/shaker2.jpg)")
					a.item.gallery(href="img/shaker1.jpg")
						h3.slide__title zen
						.img(style="background-image: url(img/shaker1.jpg)")
					a.item.gallery(href="img/shaker1.jpg")
						h3.slide__title hercules
						.img(style="background-image: url(img/shaker1.jpg)")
					a.item.gallery(href="img/shaker2.jpg")
						h3.slide__title zen
						.img(style="background-image: url(img/shaker2.jpg)")
					a.item.gallery(href="img/shaker2.jpg")
						h3.slide__title hercules
						.img(style="background-image: url(img/shaker2.jpg)")
		
		section.accessories(id='accessories')
			.container-narrow
				h2.accessories__header We supply shakers and accessories to some of the largest name brands in the supplement industry.
				.accessory
					.accessory__text.accessory__text--left
						h2.accessory__title Custom design & Free mockups
						.accessory__subscr
							p Our shaker bottles comes in various shapes and sizes, and can be custom-designed from over 20 molds. 
							p All shakers are customizable with your logo and any color on lid and body, and we provide free mockups of yourshaker prior to sampling.
					.accessory__image
							img(src="img/illustration2.png", alt="")
				.accessory
					.accessory__image
						img(src="img/illustration3.png", alt="")
					.accessory__text.accessory__text--right
						h2.accessory__title Door to Door Pricing
						.accessory__subscr
							p Our shaker bottles comes in various shapes and sizes, and can be custom-designed from over 20 molds. 
							p All shakers are customizable with your logo and any color on lid and body, and we provide free mockups of yourshaker prior to sampling.
		
		section.clients-section
			.container-narrow
				h2.clients__title What our clients are saying.
				.clients
					.client
						bloquote.client__comment We chose shakerfactory for their efficiency and friendly sales team, get in touch with them and you’ll know what I mean.and friendly sales team, get in touch with them and you’ll know what I mean.
						.client__name Angelo Eu
						.client__position Optimum Nutrition
					.client
						bloquote.client__comment The two most significant benefits of Shakerfactory for me are the good prices and the high quality of products.
						.client__name Spiros Maragakis
						.client__position X-Treme Stores
					.client
						bloquote.client__comment  To future clients I would say that Shakerfactory has both good personal service and good prices.
						.client__name Arnlaugur Einarsson 
						.client__position Allilja Ehf
		
		section.selection
			h2.selection__title We supply shakers to some of the largest name brands in the supplement industry.
			p.selection__text View our large selection of Shakers and get started on your own design today.
			a.btn.selection__btn(href="#") view our selection
		
		footer.footer
			.container
				.footer-top(id='contacts')
					.footer__section
						h5.footer__title shakerfactory
						p.footer__text A one-stop shop for all branding and promotional merchandise for the health and fitness industries.
					.footer__section
						h5.footer__title Contact
						p.footer__text Contact us at 
							a.footer__link(href="info@shakerfactory.com") info@shakerfactory.com
							|  or by Skype at paul.shakerfactory
					.footer__section.footer__section--social
						h5.footer__title Social
						p.footer__icons 
							a.footer__icon(href="#")
								img(src="img/sprites/fb.png", alt="")
							a.footer__icon(href="#")
								img(src="img/sprites/linkedin.png", alt="")
							a.footer__icon(href="#")
								img(src="img/sprites/youtube.png", alt="")
							a.footer__icon(href="#")
								img(src="img/sprites/twitter.png", alt="")
							a.footer__icon(href="#")
								img(src="img/sprites/instagram.png", alt="")
				.footer-bottom
					.footer__fb-likes
						img(src="img/sprites/fb_likes.png", alt="")
					p.footer__copyright © 2018 - Shakerfactory Ltd. All Rights Reserved







					


	script(
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
	script(src="js/owl.carousel.min.js")
	script(src="js/jquery.magnific-popup.min.js")
	script(src="js/main.js")
					

